spring:
  application:
    name: valhalla-auth
  profiles:
    active: local
  config:
    import:
      # 导入 Dubbo 配置（不可刷新，优先加载）
      - optional:classpath:bootstrap-dubbo.yaml

# Actuator 健康检查配置
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized